{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Page title
{% endblock %}

{% block content %}

    <p>
        Output is {{ group.output }}.
    </p>

    <p>
        Expected output is True.
    </p>

    {% next_button %}
{% endblock %}


